<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="tests/bootstrap.php"
         colors="true" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/schema-interpreter/Unit</directory>
            <directory suffix="Test.php">./tests/schema-converter/Unit</directory>
            <directory suffix="Test.php">./tests/schema-pdf-creator/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/schema-interpreter/Integration</directory>
            <directory suffix="Test.php">./tests/schema-converter/Integration</directory>
            <directory suffix="Test.php">./tests/schema-pdf-creator/Integration</directory>
        </testsuite>
        <!--        <testsuite name="Acceptance">-->
        <!--            <directory suffix="Test.php">./tests/Acceptance</directory>-->
        <!--        </testsuite>-->
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src/schema-converter</directory>
            <directory suffix=".php">./src/schema-interpreter</directory>
            <directory suffix=".php">./src/schema-pdf-creator</directory>
        </include>
    </source>
</phpunit>
